.panel {
  border-radius: 9px;
  padding: 2rem;
}

.journalpost {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tittelKnappContainer {
  display: flex;
}

.tittelBoks {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
}

.knappeContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0 10px;
  width: 170px;
}

.article {
  padding: 2rem;
  border-top: 8px solid #f4f4f4;
}

.visVedlegg {
  height: auto;
  opacity: 1;
  transition: opacity 600ms 0ms;
}

.skjulVedlegg {
  overflow: hidden;
  /* Hide the element content, while height = 0 */
  height: 0;
  opacity: 0;
  transition: opacity 400ms 0ms;
}

.journalpostDokument {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
  border-top: 1px solid #c9c9c9;
  padding-top: 20px;
}

.popoverInnhold {
  max-width: 700px;
  padding: 20px;
}

.popoverInnhold p {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .tittelKnappContainer {
    display: block;
  }
  .knappeContainer {
    margin: 10px 0 20px 0;
  }

  .journalpostDokument {
    display: block;
  }
}

.visAlleKnapp {
  border-top: 8px solid #f4f4f4;
  padding: 2rem;
  text-align: center;
}
