.sakshendelse {
    position: relative;
    display: flex;
    align-items: stretch;
    min-height: 100px;
}

.sakshendelse:not(:last-of-type) {
    margin-bottom: 20px;
}

.sakshendelse:not(:first-child):before {
    content: "";
    position: absolute;
    height: calc(100% - 20px);
    left: calc(32px / 2.2);
    top: calc(-100% + 16px);
    border-left: 2px #78706A solid;
}

.sakshendelse.sakshendelse-inaktiv:before {
    border-left: 2px #B7B1A9 solid;
}

.sakshendelseLabel {
    margin: 0;
    color: #726B64;
}

.sakshendelse.sakshendelse-inaktiv .hendelsesTittel {
    color: #78706A;
}

.hendelseContent {
    height: 100%;
    margin-left: 12px;
}

.utfortIkon,
.hendelseIkon,
.paagaaendeIkon,
.inaktivIkon {
    display: inline-block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.paagaaendeIkon path {
    fill: #0C5EA8;
}

.utfortIkon path {
    fill: #06893A;
}

.hendelseIkon path {
    fill: #FFA733;
}

.inaktivIkon path {
    fill: #B7B1A9;
}