.soknader {
  list-style: none;
  margin: 0;
  padding: 0;
}

.soknad {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  border-top: 8px solid #f4f4f4;
}

.soknadInnhold {
  display: flex;
  flex-direction: column;
}

.soknadIkon {
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.ikkeInnsendt {
  margin-top: 1rem;
}

.ikkeInnsendt svg {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.feilmelding {
  margin: 1rem 0;
}

@media screen and (min-width: 700px) {
  .soknad {
    flex-direction: row;
    gap: 15px;
  }

  .soknadIkon {
    width: 48px;
    height: 48px;
  }
}
