html {
  font-size: 112.5%;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #f1f1f1;
}

.seksjon-wrapper .nav-veilederpanel {
  border: none !important;
}

.tilbakemelding-wrapper .nav-veilederpanel {
  border: none !important;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}
