html {
  font-size: 112.5%;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-color: #f1f1f1;
}

.seksjon-wrapper .nav-veilederpanel {
  border: none !important;
}

.tilbakemelding-wrapper .nav-veilederpanel {
  border: none !important;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

.reset-padding .seksjon-wrapper .nav-veilederpanel {
  padding: 0;
}

.legg-til-ny-padding .typo-systemtittel {
  padding: 2rem;
  padding-top: 4.25rem;
}

.legg-til-ny-padding .behandlingsstatuser,
.legg-til-ny-padding .navigation-container {
  padding: 0 2rem;
}

.legg-til-ny-padding .knapp {
  min-height: 0;
}
