@import "~@navikt/ds-css/dist/index.css";

body {
  background-color: var(--a-white);
}

.main-header {
  margin-bottom: var(--a-spacing-10);
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--a-spacing-5);
  gap: var(--a-spacing-5);
}
