:root {
  --app-max-width: 800px;
}

.dp-dagpenger-app {
  max-width: var(--app-max-width);
  padding: 0 1rem 1rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .dp-dagpenger-app {
    padding: 0;
  }
}

.modal-container {
  width: 100%;
  max-width: var(--app-max-width);
  padding: var(--a-spacing-2);
}

.modal-container--error {
  background-color: var(--a-orange-50);
  box-shadow: 0 0 0 1px var(--a-orange-600);
}

.modal-container--error:focus {
  box-shadow: 0 0 0 3px var(--a-orange-600);
}
