.snarveier {
  list-style-type: none;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.snarveier li {
  display: flex;
  overflow-wrap: break-word;
}
