.documentActionButtonsContainer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 15px 0;
  width: 170px;
  align-self: flex-end;
}

@media screen and (min-width: 700px) {
  .documentActionButtonsContainer {
    margin: 0;
  }
}
